# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 29503802e0f9c30a2ad33af873362c5f4b07a026232d63fc563197a2bd0a3d65fe715b634db4c11aae9a2c4f8626e42cb501e197eb9f81fab852f1acb92a1928
  client_token: prettybasicsecurity

test:
  secret_key_base: 2e7c4857fa0c67d4f2c4492558c347bae1861a17354c23cedab193632fc3bcdc61ff2bb4a794507fd51088e873ba67a8fe4169be2171067281ace315927ec61d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  client_token: <%= ENV["CLIENT_TOKEN"] %>