@mixin left {
  .element:first-child {
    display: fixed;
    overflow: hidden;
    height: 220px;
    @media screen and (min-width: 801px) {
      display: inherit;
      height: 100%;
      overflow: auto;
    }
  }
  .element:nth-child(3) {
    display: hidden;
    @media screen and (min-width: 801px) {
      @include span-columns(2);
    }
  }
}

@mixin right {
  .element:first-child {
    display: fixed;
    overflow: hidden;
    height: 220px;
    @media screen and (min-width: 801px) {
      height: 100%;
      @include span-columns(2);
    }
  }
}

@mixin element {
  @include span-columns(12);
  height: 100%;
  overflow: auto;
  padding: 2em 1em;
  border-left: 1px solid $base-border-color;
  &:first-child {
    border-left: 0px;
  }
  &:last-child {
    @include omega;
  }
  @media screen and (min-width: 801px) {
    @include span-columns(5);
  }
}
