@import 'mixins';

html,body,.wrapper {
  @include animation(all 0.5s cubic-bezier);
  height: 98%;
}
.wrapper {

}
body.posts {
  .element {
    @include element;
    a.post {
      text-decoration: none;
      color: inherit;
      &> div {
        padding: .5em 1em;
        border-bottom: 1px solid $base-border-color;
      }
      &:hover {
        color: $action-color;
      }
      &:last-child > div {
        border-bottom: 0px;
      }
    }
  }
  &.index {
    @include left;
  }
  &.show {
    @include right;
  }
}
